<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>fastbooks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>



<body>
<img src="{{ url_for('static', filename='img/spacer.svg') }}" height="15" alt="spacer">

<br>
    <img src="{{ url_for('static', filename='img/spacer.svg') }}" width="15" alt="spacer">
    <a href="{{ url_for('index') }}">  <img src="{{ url_for('static', filename='img/maxxLogo2g.svg') }}" height="35" alt="maxx logo"></a>
    <img src="{{ url_for('static', filename='img/spacer.svg') }}" width="15" alt="spacer">
    <img src="{{ url_for('static', filename='img/software8.svg') }}" height="12" alt="software logo">
<br>
    <img src="{{ url_for('static', filename='img/spacer.svg') }}" height="30" alt="spacer">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Finances
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('add_expense') }}">Add expense</a>
                  <a class="dropdown-item" href="{{ url_for('expenses') }}">List expenses</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('add_bankitem') }}">Add bankitem</a>
                  <a class="dropdown-item" href="{{ url_for('bankitems') }}">List bankitems</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('expcats') }}">Expense categories</a>
                </div>
              </li>


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('todo') }}">To do</a>
                  <a class="dropdown-item" href="#">Manage users</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Projects</a>
                  </div>
              </li>



            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login') }}">Log in</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}">Log out</a>
              </li>
            </ul>

          </div>
        </nav>

<div class="content container">

    <h1 style = "color:#006400; text-align: center;">{{ header_text }}</h1>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% block content %}

{% endblock %}

</div>
<br>
<hr>
<div>
<img src="{{ url_for('static', filename='img/spacer.svg') }}" width="250" heigth="50" alt="spacer">
<img src="{{ url_for('static', filename='img/python.svg') }}" height="30" alt="python logo">
<img src="{{ url_for('static', filename='img/spacer.svg') }}" width="50" alt="spacer">
<img src="{{ url_for('static', filename='img/mariadb-ar21.svg') }}" height="40" alt="mariadb logo">
<img src="{{ url_for('static', filename='img/spacer.svg') }}" width="75" alt="spacer">
<img src="{{ url_for('static', filename='img/flask.png') }}" height="30" alt="flask logo">
<img src="{{ url_for('static', filename='img/spacer.svg') }}" width="75" alt="spacer">
<img src="{{ url_for('static', filename='img/aws.svg') }}" height="30" alt="aws logo">
<img src="{{ url_for('static', filename='img/spacer.svg') }}" width="75" alt="spacer">
<img src="{{ url_for('static', filename='img/bootstrap.svg') }}" height="30" alt="bootstrap logo">
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
