{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center; color: maroon;">FL1FL1B_escobar</h3>

<h4>To do</h4>
<ul>
  <li>Save edited post</li>
  <li></li>
</ul>

<h4>Features</h4>

<ul>
  <li>blogging</li>
    <ul>
      <li>Add blog</li>
      <li>Edit blog</li>

      </ul>
  <li>hashed passwords</li>
  <li>Image for each blog</li>
  <li>Models</li>
    <ul>
      <li>Blog</li>
      <li>Post</li>
      <li>Author</li>
      <li>Category</li>
      <li></li>
    </ul>
</ul>

<h4>Techs</h4>
<ul>
  <li>MariaDB</li>
  <li>flask</li>
  <li>bcrypt</li>
  <li>wtforms</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h4>Notes</h4>
<ul>
  <li>Not SQLAlchemy: hand-code SQL</li>
  <li></li>
</ul>


{% endblock %}
