{% extends "base.html" %}
{% block content %}

    <div class="card-deck">
      {% for group in todos|groupby('project') %}
      <!-- <p>0:  {{ group }}</p>
      <h4>1:  {{ group[0] }}</h4>
      <h6>2:  {{ group[1] }}</h6>
      <h3>3:  {{ group[1][0]['pid'] }}</h3> -->

      <div class="card text-black bg-success mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h3  style="font-color: black; font-style: bold; text-align: center;">{{ group.grouper}}  {{group[1][0]['pid']}}</h3>
          <hr>
          <ul>
              {% for item in group.list %}
            <li class="card-text" style="line-height: 1.2em;">{{ item.todo }}</l1>
              {% endfor %}
          </ul>
        </div>
      </div>

      {% endfor %}
   </div>


    <img src="{{ url_for('static', filename='img/spacer.svg') }}" height="50" alt="spacer">

    <h2>Add task</h2>
      <form action="" method="POST">

                  {{ form.hidden_tag() }}
                <table>
                      <tr>
                        <td> </td>
                        <td>  {{ form.todo.label }}   </td>
                        <td>  {{ form.todo}}          </td>
                        <td>  {{ form.project_id}}</td>
                      </tr>
                      <tr>
                        <td></td>
                          <td></td>
                          <td> {{ form.submit() }}  </td>
                      </tr>
                  </table>
              </form>

{% endblock %}
